%-*- mode: erlang -*-
{erl_opts,[{parse_transform, lager_transform}]}.
{excl_archive_filters, [".*"]}.
{lib_dirs,["deps"]}.

{deps, [
   {lager, "2.0.3", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
   {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}},
   {ezk, ".*", {git, "git://github.com/LineMetrics/ezk.git"}},
   {erl_lib, ".*", {git, "git://github.com/LineMetrics/erl_lib.git"}}
	]}.

{post_hooks, [
   {compile, "cp ./sys.config ./ebin/sys.config"}
]}.