%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[
   %% zookeeper servers
   {ezk,
      [
         {default_servers,
            [{ "192.168.9.108", 2181, 30000, 10000}]
         }
      ]
   },
   {sasl, [
      {errlog_type, error},
      {error_logger_mf_dir, "log/sasl"},      % Log directory
      {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
      {error_logger_mf_maxfiles, 5}           % 5 files max
   ]}, 
   {lager, [
      {handlers, [
         {lager_console_backend, debug}
%%          ,
%%          {lager_udp_backend, [
%%             {level,       debug},
%%             {host,    "192.168.9.113"},
%%             {port,   4713}
%%          ]}
      ]}
   ]}


].
