%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[
   %% zookeeper servers
   {ezk,
      [
         {default_servers,
            [{ "192.168.9.108", 2181, 30000, 10000}]
         }
      ]
   },
   {ezk_pool,
      [
         {ezk_pooler, [ {size, 5}, {max_overflow, 10}, {strategy, fifo} ]}
      ]

   }

].
