%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[
   %% zookeeper servers
   {ezk,
      [
         {default_servers,
            [{ "192.168.9.108", 2181, 30000, 10000}]
         }
      ]
   },
   %% pool default options

   {ezk_pool,
      [
         {ezk_pooler, [{workers, 15}, {worker, {ezk_pool_worker, []}}]}
      ]
%%       [
%%          {ezk_pooler, [ {size, 5}, {max_overflow, 10}, {strategy, lifo} ]}
%%       ]

   }


].
